@use "cardStyleOptions" as *;
@use "parts/cardLightStyle" as *;
@use "parts/mainInfoStyle" as *;
@use "parts/expadedIfoStyle" as *;

.radionBuntonVac{
    display: none;

    &:checked + label{
        min-height: 400px;
    }
}

.cardContainer{
    min-height: 125px;
    overflow: hidden;
    opacity: .8;
    transition: .3s;
    @include cardLights;

    &:hover{
        opacity: 1;
        .mainInfos{
            border: none;
        }
    }

    @include cardLight;
    @include mainInfo;
    @include expandedInfo;
}