@use "cardStyleOptions" as *;
@use "parts/cardLightStyle" as *;
@use "parts/mainInfoStyle" as *;
@use "parts/expadedIfoStyle" as *;

.radionBuntonVac{
    display: none;

    &:checked + label{
        $size: 400px;
        min-height: $size;
        height: $size;
        max-height: $size;
        background: red;
    }
}

.cardContainer{
    display: flex;
    flex-direction: column;
    min-height: 125px;
    height: 125px;
    max-height: 125px;
    opacity: .8;
    overflow: hidden;
    transition: .3s;
    @include cardLights;

    &:hover{
        opacity: 1;
        .mainInfos{
            border: none;
        }
    }

    .currAcess-salvo .saved{
        opacity: 1 !important;
    }

    .currAcess-acessado{
        .saved, .acessed{
            opacity: 1 !important;
        }
    }

    .currAcess-aplicado{
        .saved, .acessed, .applyed{
            opacity: 1 !important;
        }
    }

    // 360
    // 361
    // 362

    @include cardLight;
    @include mainInfo;
    @include expandedInfo;
}