#actionBtnContainer{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    user-select: none;
    pointer-events: none;
    z-index: 2000;

    #actionsElementsContainer{
        display: grid;
        justify-items: end;
        align-items: center;
        grid-template-columns: 1fr auto;
        grid-template-rows: 60px;
        grid-template-areas: 
        "revieweBtn revieweBtn"
        "searchBtn btn";
        position: absolute;
        // background: red;
        width: 350px;
        height: fit-content;
        right: 15px;
        bottom: 35px;
        z-index: 2001;
        padding: calc(55px - 35px) calc(35px - 15px);
        transition: .3s;
        
        &[data-showing="false"]{
            pointer-events: none;
            user-select: none;
            padding: 0px;

            #actionBtn{
                opacity: 1;
            }
        }
    }

    *{
        pointer-events: all;
    }

    #actionBtn{
        position: relative;
        right: 0px;
        bottom: 0px;
        $size: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: $size;
        height: $size;
        border-radius: 6px;
        border: 1.2px solid #A0A0A0;
        opacity: .5;
        background: linear-gradient(
            -45deg,
            #606060 0%, 
            #707070 19%,
            #5A5A5A 49%,
            #686868 81%,
            #606060 100%
        );
        z-index: 1001;
        grid-area: btn;
    }

    #searchNewVancaniesBtn, #reviewVancaniesBtn{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        width: 200px;
        font-weight: 600;
        font-style: italic;
        height: 50px;
        padding: 10px 0px;
        font-size: 16px;
        cursor: pointer;
        transition: .3s;

        p{
            width: fit-content;
            text-wrap: nowrap;
        }

        &:hover{
            transform: scale(1.025);
        }

        &:active{
            transform: scale(0.98) rotate(3deg);
        }

        .img{
            $imgSize: 20px;
            width: $imgSize;
            height: $imgSize;
            object-fit: contain;
            z-index: 20002;

            img{
                width: 100%;
                height: 100%;
            }
        }
    } 

    #reviewVancaniesBtn{
        grid-area: revieweBtn;
        background: #303030;
        border: 1px solid #C0C0C0;
        color: #c0c0c0;
        border-radius: 8px 8px 0px 8px;
        margin-right: 35px;
        margin-bottom:  15px;
    }

    #searchNewVancaniesBtn{
        background: #c0c0c0;
        border: 1px solid #303030;
        color: #303030;
        grid-area: searchBtn;
        border-radius: 8px 0px 0px 8px;
        margin-right: 15px;
    }

    #bg{
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 1000;
        background: rgba(0, 0, 0, .4);
    }
}