#searchFormComp{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .6);
    z-index: 3000;

    form{
        background: #4A4A4A;
        border: 1px solid #303030;
        border-radius: 5px;
        width: 60%;
        height: 90%;
        overflow: hidden;
    }

    #cardHeader{
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding: 0px 20px 0px 15px;
        height: 50px;
        background: #c0c0c0;
        box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, .25);

        #titleContainer{
            display: flex;
            gap: 10px;
            align-items: center;
            color: #303030;
            font-weight: 600;
            font-style: italic;
            font-size: 16px;
        }

        #closeBtn{
            color: #832E2E;
            background: none;
            border: none;
            font-size: 20px;
            font-weight: 600;
            font-style: italic;
            opacity: .8;
            cursor: pointer;
            transition: .3s;

            &:hover{
                transform: scale(1.1);
                opacity: 1;
            }

            &:active{
                transform: scale(.95);
            }
        }
    }

    #fieldsContainer{
        display: flex;
        flex-direction: column;
        gap: 25px;
        height: 100%;
        width: 100%;
        padding: 40px;

        #prompt_lists{
            display: grid;
            grid-template-columns: 1fr 1fr;
            background: red;
        }

        #selects{
            display: grid;
            grid-template-columns: 1fr 1fr;
            background: blue;

            #sitesAvailable{
                background: #303030;
                padding: 20px 30px 20px 15px;
                border-radius: 2px;
                font-weight: 600;
                font-size: 24px;
                font-style: italic;

                p{
                    color: #808080
                }

                #siteOptions{
                    margin-top: 16px;
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                    list-style: none;

                    li{

                        label{

                            display: flex;
                            justify-content: space-between;
                            padding: 12px 15px;
                            background: #808080;
                            border-radius: 1.6px;
                            border: .8px solid #909090;
                            font-size: 20px;
                            height: fit-content;
                            opacity: .5;
                        cursor: pointer;
                        transition: .3s;

                        &:hover{
                            opacity: 1;
                            transform: scale(1.025) translateY(-2px);
                            box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, .25);
                        }

                        &:active{
                            transform: scale(.95);
                        }
                    }

                        input{
                            display: none;
                        }

                        input:checked + label{
                            opacity: .8;
                        }
                    }

                }
            }
        }
    }
}