@mixin paridade_colors{
    [data-paridade="perfeito"]{
        .circle{
            background: #87D198;
        }
    }
    [data-paridade="bom"]{
        .circle{
            background: #6592C4;
        }
    }
    [data-paridade="ruim"]{
        .circle{
            background: #E48C4E;
        }
    }
    [data-paridade="pessimo"]{
        .circle{
            background: #E15656;
        }
    }
}

@mixin site_color{
    $path: "../../../../../../public/icons";
    [data-site="linkedin"]{
        .icon{
            background-image: URL("#{$path}/linkedin.png");
        }
    }
    [data-site="indeed"]{
        .icon{
            background-image: URL("#{$path}/indeed.png");
        }
    }
    [data-site="infojobs"]{
        .icon{
            background-image: URL("#{$path}//infojobs_logo.jpeg");
        }
    }
    [data-site="catho"]{
        .icon{
            background-image: URL("#{$path}/linkedin.png");
        }
    }
}