:root{
  --main-font: "Inter", sans-serif;
  --second-font: "Poppins", sans-serif
}

*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;

  &::-webkit-scrollbar-thumb{
        background: #404040;
        border-radius: 5px;
    }

    &::-webkit-scrollbar{
        width: 3px;
        background: none;
    }
}

body{
  background: #303030;
  color: white;
  font-family: var(--main-font);
  max-height: 100%;
  overflow: hidden;
}

#notFoundContainer{
  background: red !important;
}

#no_data_title{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 50px;
  color: #404040;
  user-select: none;
}