:root{
  --main-font: "Inter", sans-serif;
  --second-font: "Poppins", sans-serif
}

*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;

  &::-webkit-scrollbar-thumb{
        background: #404040;
        border-radius: 5px;
    }

    &::-webkit-scrollbar{
        width: 3px;
        background: none;
    }
}

body{
  background: #303030;
  color: white;
  font-family: var(--main-font);
  max-height: 100%;
  overflow: hidden;
}