:root{
  --main-font: "Inter", sans-serif;
  --second-font: "Poppins", sans-serif
}

*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body{
  background: #303030;
  color: white;
  font-family: var(--main-font);
}