@mixin title{
    #mainInfoContainer{
        display: grid;
        grid-template-areas: 
        "title title"
        "infos acessivel"
        "favorito acessivel";
        
        #titleContainer{
            height: fit-content;
            display: flex;
            gap: 20px;
            font-style: italic;
            grid-area: title;
            
            h2{
                text-wrap: nowrap;
                font-size: 40px;
                max-width: 800px;
                overflow-x: hidden;
                text-overflow: ellipsis;
            }

            #area_regiao{
                display: flex;
                gap: 10px;
                align-items: center;
                font-size: 30px;
                text-wrap: nowrap;
                color: #A0A0A0;
                width: 100%;
                
                p{
                    max-width: 300px;
                    overflow: hidden;
                    text-wrap: nowrap;
                    text-overflow: ellipsis;
                }

                #link{
                    $linkSizes: 20px;
                    width: $linkSizes;
                    height: $linkSizes;

                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transition: .3s;

                    &:hover{
                        transform: scale(1.025);
                    }

                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }
            }
        }

        #infosContainer{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            height: fit-content;
            column-gap: 40px;
            width: fit-content;
            row-gap: 10px;
            margin-top: 20px;
            grid-area: infos;

            li{
                display: flex;
                gap: 10px;
                align-items: center;
                
                .img{
                    $size: 26px;
                    width: $size;
                    height:$size;

                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }

                p{
                    font-size: 26px;
                    color: #808080;
                    font-style: italic;
                    font-weight: 600;
                }
            }
        }

        #favoritadoContainer{
            display: flex;
            margin-top: 20px;
            align-items: center;
            font-size: 26px;
            font-style: italic;
            font-weight: 600;
            gap: 10px;
            border-radius: 3px;
            border: 3px solid #D8B451;
            color: #F2D997;
            background: none;
            width: fit-content;
            padding: 10px 150px 10px 25px;
            cursor: pointer;
            transition: .3s;
            grid-area: favorito;
            user-select: none;

            &:hover{
                transform: scale(1.025);
            }

            &[data-favoritado="true"]{
                background: #413D2F;
            }
        }

        #acessivelContainer{
            display: flex;
            flex-direction: column;
            align-items: center;
            grid-area: acessivel;
            user-select: none;

            #icon{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                gap: 20px;
                $sizes: 125px;

                width: $sizes;
                height: $sizes;
                
                img{
                    width: 53px;
                    height: 53px;
                }

                span{
                    font-size: 16px;
                    font-weight: 600;
                    font-style: italic;
                }

                &[data-disponibilidade="true"]{
                    background: #2C3F34;
                    border: 3px solid #476C56;
                    border-radius: 10px;

                    span{
                        color: #4F7D62;
                    }
                }

                &[data-disponibilidade="false"]{
                    background: #3F2C2C;
                    border: 3px solid #6C4747;
                    border-radius: 10px;

                    span{
                        color: #7D4F4F;
                    }
                }

            }

            p{
                margin-top: 10px;
                font-size: 18px;
                font-style: italic;
                font-weight: 600;
                color: #C0C0C0
            }
        }
    }
}