#actionContainerBg{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);

    *{
        pointer-events: all;
        transition: .3s;
    }

    &[data-showing=false]{
        user-select: none;
        pointer-events: none;
        background: none;
    }

    &[data-showing=true]{

        #fixedButtonContainer{
            padding: 40px 0px 20px 40px;
            bottom: 0px;
        }

        #contentWrapper{
            display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        justify-items: end;
        align-items: center;
        grid-template-areas: 
        "erase"
        "acces_action"
        "edit";
        }
        // background: blue !important;

        #actionsButton{
            border-radius: 100px;
            opacity: .75;
        }
    }
}

#fixedButtonContainer{
    display: flex;
    justify-content: flex-end;
    position: fixed;
    bottom: 30px;
    right: 30px;
    height: fit-content !important;
    // background: red;
    
    #contentWrapper{
        // gap: 15px;
        width: fit-content;
        height: fit-content !important;
        // background: blue;

        #acces_actionsBtnContainer{
            display: flex;
            gap: 20px;
            grid-area: acces_action;
            // background: pink;
            align-items: center;
        }
    }

    button{
        width: fit-content;
        height: fit-content;
    }

    #actionsButton{
        background: #E0E0E0;
        border: 2px solid #404040;
        border-radius: 10px;
        padding: 15px;
        justify-self: start;
    }

    .actionsBtns{
        display: flex;
        gap: 20px;
        justify-content: center ;
        align-items: center;
        padding: 10px 20px;
        font-size: 26px;
        color: white;
        font-weight: 600;
        width: 200px;
        // margin-right: 40px;
        cursor: pointer;
        transition: .3s;

        &:hover{
            transform: scale(1.025);
        }
    }

    #eraseBtn{
        background: #4B2525;
        border: 2px solid #C15151;
        border-radius: 10px 10px 0px 10px;
        grid-area: erase;
    }

    #accessBtn{
        background: #274B25;
        border: 2px solid #5AB86C;
        border-radius: 10px 0px 0px 10px;
        margin-right: 0px;
    }

    #editBtn{
        background: #4B3D25;
        border: 2px solid #CF9C48;
        border-radius: 10px 0px 10px 10px;
        grid-area: edit;
    }
}